<html>
  <head>
    <title>Welcome to my world</title>
     <link rel="stylesheet" type="text/css" href="./style.css" />
     <style>
       h2 {
         color: "orange"
       }

       .header {
         margin-top: 2px;
         margin-bottom: 10px;
       }
     </style>
</head>
  <body>
    <div>
        <h2 class="header">Good day <span>{{user}}</span> </h2>
        <div class="message">{{message}}</div>
        <div class="footer">
          <div><span>Kind regards</span></div>
          <div><span>Yetu Investments Directors</span></div>
          <div<span>www.yetuinvestments.com .... Coming So</span></div>
        </div>

    </div>
  </body>
</html>