<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
    <div>
        <div><span style="font-weight: bold;"> Good day</span><span>{{user}}</span></div>
        <div></div>
        <div></div>
        <div><span style="font-weight: bold;"></span></div><div></div>
        <div><span style="font-weight: bold;">{{message}}</span></div><div></div>
        <div> <span>Kind regards</span></div>
        <div><span>Yetu Investments Directors</span></div>
        <div<span>www.yetuinvestments.com .... Coming So</span></div>

    </div>
  </body>
</html>